doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Вход в аккаунт
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        style
            include begin.css
    body
        .container-fluid.top1
            table.table.table-bordered.text-center.table-dark.table-hover
                thead
                    tr.hd
                        th(scope='col') Дата
                        th(scope='col') Проект
                        th(scope='col') Компания
                        th(scope='col') Тип сделки
                        th(scope='col') Статус сделки
                        th(scope='col') Сумма/Причина
                        th(scope='col') Комментарий
                        th(scope='col') Отправить
                tbody
                each val in statusData
                    tr
                        td.phone #{val.date}
                        td #{val.project}
                        td #{val.company}
                        td #{val.status}
                        td
                            .form-group
                                select.form-control
                                    option Заключена
                                    option Отклонена
                                    option Перезвонить
                        td
                            .form-group
                                select.form-control
                                    option Цена
                                    option Договор
                                    option Не интересует
                        td
                            textarea.note
                        td
                            button.btn-success.call
                                i.far.fa-envelope
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
