body{
    background: #d2d5d8;
    color: #d2d5d8;
    font-family: Kalapi;
    font-weight: bolder;
}
.lg1{
    background: black;
    height: 290px;
    border-radius: 10px;
}
.black1{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    font-family: Kalapi;
    text-align: center;
    background: #d2d5d8;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}
.lg2{
    background: black;
    height: 128px;
    border-radius: 10px;
}
.lg3{
    background: black;
    height: 290px;
    border-radius: 10px;
}
.lg4{
    background: black;
    height: 225px;
    border-radius: 10px;
}
.note{
    width: 100%;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
}
.black2{
    font-size: 20px;
    font-weight: bolder;
    font-family: Kalapi,serif;
    text-align: center;
    border-width: 2px;
    border-radius: 10px;
