body{
    background: #d2d5d8;
    color: black;
    font-family: Kalapi;
    font-weight: bolder;
}
.top{
    height: 700px;
}
.q{
    background: #212528;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: #212528;
    width: 600px;
    height: 55px;
    font-size: 32px;
}
.hd{
    background: black;
    color: #d2d5d8;
}
.center{
    position: absolute;
    top: 80%;
    left: 0;
    height: 20%;
    width: 100%;
}
.black1{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    font-family: Kalapi;
    text-align: center;
    background: #d2d5d8;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
}
.phone{
    font-family: Arial;
}
.script{
    width: 100%;
    height: 100%;
    border-radius-: 10px;
    border-width: 0px;
    border-color: #d2d5d8;
}
.note{
    width: 100%;
    height: 100%
}
.call{
    color: black;
    width: 70px;
    height: 30px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}
.phone1{
    font-size: 22px;
}