body{
    font-family: "Lohit Odia";
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: #ffa600;
    color: black;
}
.btn{
    font-weight: bolder;
    font-size: 24px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
}


