body{
    background: #ffa600;
    color: #d2d5d8;
    font-family: Kalapi;
    font-weight: bolder;
}
.lg12{
    text-align: center;
}
.black1{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    font-family: Kalapi;
    text-align: center;
    background: #d2d5d8;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}
.col-lg-6{
    background: black;
    height: 290px;
    border-radius: 10px;
}